.primaryHeader {
  /* height: 45px;
  background: #1a1a1a;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
  margin: 0; */
  height: 45px;
  background: #1a1a1a;
  position: relative;
  top: 0;
  z-index: 3;
  left: 0;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 40%);
  margin: 0;
  /* position: fixed;
  z-index: 2; */
}

.sponsors {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  height: inherit;
  margin-right: 0.5rem;
}

.sponsorLogo {
  height: auto;
  width: auto;
  max-height: 27px;
  max-width: 100px;
  margin-left: 0.5rem;
}
