/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

:root{
  --color-red-primary:#c70101;
  --color-white: #fff;
  --color-grey-background:#f8f8f8;
}



html{
  box-sizing: border-box;
  /* 1rem = 10px ; 10/16px=62.5% */
  font-size: 62.5%; 
  height: 10000rem;
}

*,
::before,
::after{
  box-sizing: inherit;
}


*{
  margin:0;
  padding:0
}

body{
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background-color: var(--color-grey-background);
}